//超出一行省略
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } 
  
  .tow-ellipsis {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .three-ellipsis {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  // 清除浮动
.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
  }
  .clearfloat{
    zoom:1
  }

// 白底 padding20 的容器
.w-container {
    background-color: #fff;
    padding: 15px;
}

.btn-wrapper {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}


.fl {
  float: left;
}

.fr {
  float: right;
}

.tooltip-wrapper {
    max-width: 400px;   
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.visit-container {
  display: inline-block;
  padding: 5px;
  border: 1px solid #dcdfe6;
  line-height: 9px;
  border-radius: 2px;
  color: #606266;
  cursor: pointer;
}


// 改变滚动条样式
.beauty-scroll {
    &::-webkit-scrollbar {
      /*滚动条整体样式*/
      width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
      height: 1px;
    }
    &::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: 10px;
      box-shadow   : inset 0 0 5px #d0d1d3;
      background   : #d0d1d3;
    }
}

.el-drawer__header {
  span,.el-drawer__close-btn {
    &:focus {
      outline: none;
    }
  }
}

.tips {
  font-size: 12px;
  color: #777;
  line-height: 0;
}
